<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.zerock.mapper.ApartMapper">

	<select id="getList" resultType="org.zerock.domain.ApartVO">
		select * from info_apart order by apt_bno desc
	</select>

	<insert id="insert">
		insert into info_apart (apt_bno, apt_name, apt_lat, apt_lng, apt_admin)
		values (seq_apart.nextval, #{apt_name},#{apt_lat},#{apt_lng}, #{apt_admin})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.ApartVO">
		select * from info_apart where apt_bno = #{apt_bno}
	</select>
	
	<delete id="delete">
	delete from info_apart where apt_bno = #{apt_bno}
	</delete>
	
	<update id="update">
	update info_apart
	set apt_name = #{apt_name}
	where apt_bno = #{apt_bno}
	</update>
</mapper>