<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.zerock.mapper.ReserveMapper">

	<select id="getInfo" resultType="org.zerock.domain.ReserveVO">
		select * from reserveFac where fac_name = #{fac_name} and fac_aptname = #{fac_aptname} and reserve_date = #{reserve_date}
	</select>

	<insert id="insert">
		insert into reserveFac (fac_name, fac_aptname, userId, start_time, finish_time, reserve_date)
		values (#{fac_name},#{fac_aptname},#{userId}, #{start_time}, #{finish_time}, #{reserve_date})
	</insert>
	
	<delete id="delete">
		delete from reserveFac where fac_name = #{fac_name} and fac_aptname = #{fac_aptname} and userId = #{userId}
	</delete>

</mapper>